# Copie ce fichier en .env et remplis les valeurs
MINIO_ENDPOINT=minio:9000
MINIO_ENDPOINT_EXTERNAL=localhost:9000
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BUCKET_RAW=smyp-raw
MINIO_BUCKET_CLEAN=smyp-clean
MINIO_BUCKET_CURATED=smyp-curated
MONGO_URI=mongodb://mongodb:27017/smyp
MONGO_URI_EXTERNAL=mongodb://localhost:27017/smyp
MONGO_DB=smyp
MONGO_COLLECTION=documents_curated
OCR_SERVICE_URL=http://ocr-service:8001
ANOMALY_SERVICE_URL=http://anomaly-service:8002
BACKEND_URL=http://backend:5000
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=your_password
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key